/* my styles */
.header {background: #eee; padding: 0.5rem 0 0.2rem}
.footer {background: #efefef; padding: 3em 0 2em; margin-top: 2em}

/* header */
.header h1      {font-size: 1.5rem}
.navbar         {padding: 0}
.main           {margin-top: 20px}

/* main */
body            {font-size: 90%}
.nowrap         {white-space: nowrap;}
.main h1        {padding-bottom: 20px}


/* controls */
#DataTable_filter { text-align: left; }
.form-inline      {margin-bottom: 10px}

/* table */
table i         {font-size: 20px; }
.flag               {height: 24px; width: 24px; vertical-align: middle;  margin-right: 0.2em}
.partTime           {height: 24px; width: 24px; vertical-align: middle;  margin-right: 0.2em; padding-left: 0.2em}
.fa-globe           {font-size: 24px; color: #1D8348; vertical-align: middle;}
.fa-passport        {color: #bbb; vertical-align: middle;}
.fa-satellite-dish  {color: #6d6d6d; vertical-align: middle; padding-left: 0.2em }
.fa-chevron-circle-right {color: #007bff}


/* warning bars */
.flagBar    {background: #d80f2a; width: 100%; color: white; padding: 2px 4px;}
.warnBar    {background: #f8c400; width: 100%; padding: 2px 4px;}
.okBar      {background: rgba(0, 155, 189, 0.4); padding: 2px 4px;}

/* Yellow-eyed penguin & opaque uon blue */
.flagBar    {background: #D04E59; width: 100%; color: white; padding: 2px 4px;}
.warnBar    {background: #FAE093; width: 100%; padding: 2px 4px;}
.okBar      {background: rgba(0, 155, 189, 0.4); padding: 2px 4px;}

/* tooltips  https://codepen.io/deineko/pen/YZeQJP */
.qtip {
  display: inline-block;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  font-style: normal;
  transition:all .25s ease-in-out
}
.qtip:hover {}
/*the tip*/
.qtip:before {
  content: attr(data-tip);
  font-size: 14px;
  position: absolute;
  background: rgba(10, 20, 30, 0.85);
  color: #fff;
  line-height: 1.2em;
  padding: 0.5em;
  font-style: normal;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  min-width: 120px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 600
}
.qtip:after {
  width: 0;
  height: 0;
  border-style: solid;
  content: '';
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out
}
.qtip:hover:before,
.qtip:hover:after {
  visibility: visible;
  opacity: 1
}
/*top*/
.qtip.tip-top:before {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 8px));
  box-sizing: border-box;
  border-radius: 3px;
}
.qtip.tip-top:after {
  border-width: 8px 8px 0 8px;
  border-color: rgba(10, 20, 30, 0.85) transparent transparent transparent;
  top: -8px;
  left: 50%;
  transform: translate(-50%, 0);
}


/* other */
.dummygraph   {margin-top: 40px; background: url(../images/dummycoursegraph.png)  no-repeat; background-size: contain}

.dummystudent {margin-top: 40px; min-height: 800px; background: url(../images/dummystudent.png)  no-repeat; background-size: contain}



/*
 * Font Awesome Free 5.8.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 Need to include /vendor/fontawesome-5.8.1.min.css too
 */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../vendor/fa-regular-400.eot");
  src: url("../vendor/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-regular-400.woff2") format("woff2"), url("../vendor/fa-regular-400.woff") format("woff"), url("../vendor/fa-regular-400.ttf") format("truetype"), url("../vendor/fa-regular-400.svg#fontawesome") format("svg"); }
.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../vendor/fa-solid-900.eot");
  src: url("../vendor/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-solid-900.woff2") format("woff2"), url("../vendor/fa-solid-900.woff") format("woff"), url("../vendor/fa-solid-900.ttf") format("truetype"), url("../vendor/fa-solid-900.svg#fontawesome") format("svg"); }
.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../vendor/fa-brands-400.eot");
  src: url("../vendor/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-brands-400.woff2") format("woff2"), url("../vendor/fa-brands-400.woff") format("woff"), url("../vendor/fa-brands-400.ttf") format("truetype"), url("../vendor/fa-brands-400.svg#fontawesome") format("svg"); }
.fab {
  font-family: 'Font Awesome 5 Brands'; }
