/* my styles */
.header {background: #eee; padding: 0.5rem 0 0.2rem}
.footer {background: #efefef; padding: 3em 0 2em; margin-top: 2em}

/* header */
.header h1      {font-size: 1.5rem}
.navbar         {padding: 0}
.main           {margin-top: 20px}

/* main */
body            {font-size: 90%}
.nowrap         {white-space: nowrap;}
.main h1        {padding-bottom: 20px}


/* controls */
#DataTable_filter { text-align: left; }

/* table */
.flag           {height: 24px; width: 24px; vertical-align: middle;  margin-right: 0.5em}
.fa-globe       {font-size: 24px; color: #1D8348; margin-right: 0.5em}
.fa-passport    {color:  #ccc; padding-left: 0}
.fa-chevron-circle-right {color: #007bff}


/* warning bars */
.flagBar    {background: #d80f2a; width: 100%; color: white; padding: 2px 4px;}
.warnBar    {background: #f8c400; width: 100%; padding: 2px 4px;}
.okBar      {background: rgba(0, 155, 189, 0.4); padding: 2px 4px;}

/* Yellow-eyed penguin & opaque uon blue */
.flagBar    {background: #D04E59; width: 100%; color: white; padding: 2px 4px;}
.warnBar    {background: #FAE093; width: 100%; padding: 2px 4px;}
.okBar      {background: rgba(0, 155, 189, 0.4); padding: 2px 4px;}


/* other */
.dummygraph   {margin-top: 40px; background: url(../images/dummycoursegraph.png)  no-repeat; background-size: contain}





/*
 * Font Awesome Free 5.8.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 Need to include /vendor/fontawesome-5.8.1.min.css too
 */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../vendor/fa-regular-400.eot");
  src: url("../vendor/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-regular-400.woff2") format("woff2"), url("../vendor/fa-regular-400.woff") format("woff"), url("../vendor/fa-regular-400.ttf") format("truetype"), url("../vendor/fa-regular-400.svg#fontawesome") format("svg"); }
.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../vendor/fa-solid-900.eot");
  src: url("../vendor/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-solid-900.woff2") format("woff2"), url("../vendor/fa-solid-900.woff") format("woff"), url("../vendor/fa-solid-900.ttf") format("truetype"), url("../vendor/fa-solid-900.svg#fontawesome") format("svg"); }
.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../vendor/fa-brands-400.eot");
  src: url("../vendor/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-brands-400.woff2") format("woff2"), url("../vendor/fa-brands-400.woff") format("woff"), url("../vendor/fa-brands-400.ttf") format("truetype"), url("../vendor/fa-brands-400.svg#fontawesome") format("svg"); }
.fab {
  font-family: 'Font Awesome 5 Brands'; }
