---
layout: blank
title: "Nottingham"
---
<style>
body            {background: #f2f2f2}
footer          {background: #c3c3c3; padding: 50px 0}
.prefooter      {background: #CCC}


.header         {background: url(nottingham.jpg) no-repeat center center;  background-size: cover; min-height: 500px; padding-top: 20px; border-bottom: 0; margin-bottom: 30px}
.header .title  {width: 50%; color: white; /*background: rgba(204, 204, 204, 0.8);*/ padding: 10px; }
.title p        {margin-botton: 0}

h2              {margin-top: 30px}
.intro          {font-size: 120%}

/* cards */
.city           {min-height: 380px}
.card-title     {text-align: left}
.card-text      {text-align: left; font-size: 90%}
.card-img-top   {max-height: 140px; width:auto; object-fit: cover;}
.card-body      {padding-bottom: 0.5rem}
.card-footer    {padding-top: 0; background-color: inherit; border-top: 0}

.person img           {margin: 20px auto 0px; width: 140px}
.person .card-title   {margin-bottom: 0}

footer img            {max-width: 100%}
</style>


<!-- HEADER -->
<div class="header">
  <div class="container">
    <div class="title">
      <h1>Nottingham</h1>
      <p class="hidden-xs">United Kingdom</p>
    </div>
  </div>
</div>


<!-- CONTENT -->
<div class="container">

  <!-- RESEARCH INTRO -->
  <div class="row">
    <div class="col-md-9 intro">
      <p>Nottingham in the UK is developing a multi-agency approach towards increasing resilience against modern slavery and human trafficking.  Multiple partners from statutory, private and voluntary sectors share the objective of making Nottingham and its surrounding County ‘slavery-free’.</p>
      <p>At the University of Nottingham’s Rights Lab we are supporting this aspiration by undertaking research to strengthen partnership working, clarify the nature and extent of exploitation in Nottinghamshire, and develop understanding of the factors that underpin anti-slavery resilience.</p>
      <p><b>Key areas of interest:</b><br/>
        Tackling criminal exploitation, addressing labour exploitation, developing slavery-free communities</p>

      <p><b>Hopes for the project:</b><br/>
          To better understand the factors that underpin resilience against modern slavery in different contexts.  To learn how other cities approach common challenges.</p>

    </div>
    <div class="col-md-3">
      <p>map..</p>
    </div>
  </div>



  <!-- PEOPLE CARDS -->
  <div class="row">
    <div class="col-lg">
      <h2>People</h2>
    </div>
  </div> <!-- end row -->

  <div class="row">
    <!--  from datafile file   -->
    {% assign people = (site.data.people | where: "City", "Nottingham" ) %}
    {% for person in people %}
    <div class="col-lg-3 col-md-6 col-sm-12 pb-4" >
      <div class="card person" >
        <img src="{{ person.Image }}" class="rounded-circle" alt="photo">
        <div class="card-body">
          <h5 class="card-title">{{ person.Name }}</h5>
          <p class="card-text">{{ person.Uni }}<br/>
          <a href="{{ person.Link }}" >University profile <i class="fas fa-angle-right"></i></a></p>
        </div>
      </div>
    </div>  <!-- end col -->
    {% endfor %}
  </div>  <!-- end row -->



  <!-- PARTNER LOGOs -->
  <div class="row">
    <div class="col-lg">
      <h2>Partners</h2>
      <p style="height: 300px">partner logos ...</p>

    </div>
  </div> <!-- end row -->

  <div class="row">
    <!--  from datafile file  -->
    {% for person in site.data.partners %}
    <div class="col-lg-3 col-md-6 col-sm-12 pb-4" >
      <div class="card person" >
        <img src="{{ person.Image }}" class="rounded-circle" alt="photo">
        <div class="card-body">
          <h5 class="card-title">{{ person.Name }}</h5>
          <p class="card-text">{{ person.Uni }}</p>
          <a href="{{ person.Link }}" >University profile <i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>  <!-- end col -->
    {% endfor %}
  </div>  <!-- end row -->

</div> <!-- end container -->




<div class="prefooter">
  <div class="container">
    <!-- CITIES CARDS -->
    <div class="row">
      <div class="col-lg">
        <h2>Focus cities</h2>
        <p>We have four founding cities within our network, and we hope other partner cities will join us over time.</p>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <!--  from datafile file  eg <i class="fas fa-external-link-alt"></i>  -->
      {% for city in site.data.cities %}
      <div class="col-lg-3 col-md-6 col-sm-12 pb-4" >
        <div class="card city" >
          <img src="{{ city.Image }}" class="card-img-top" alt="cityscape">
          <div class="card-body">
            <h5 class="card-title">{{ city.Title }}</h5>
            <p class="card-text">{{ city.Blurb }}</p>
          </div>
          <div class="card-footer">
            <a href="{{ city.Link }}" class="btn btn-primary">Project details <i class="fas fa-caret-right"></i></a>
          </div>
        </div>
      </div>  <!-- end col -->
      {% endfor %}
    </div>  <!-- end row -->
  </div>
</div>



<footer>
  <div class="container">

    <div class="row">
      <div class="col-md-9 col-sm-12">
        <p>Global Cities Free of Slavery</p>
      </div>
      <div class="col-md-3 col-sm-12">
        <img src="GCRF.png" alt = GCRF logo/>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div style="height: 500px">Map</div>
      </div>
    </div>

    <div class="row logos">
      <div class="col">
        <a href="https://www.nottingham.ac.uk/"><img src=""/></a>
      </div>
    </div>

    <div class="row logos">
      <!--  from datafile file   -->
      {% for logo in site.data.logos %}
      <div class="col-lg-3 col-md-6 col-sm-12 pb-4" >
        <a href="{{ logo.Link }}"><img src="{{ logo.Image }}" alt="{{ logo.Alt }}"></a>
      </div>  <!-- end col -->
      {% endfor %}
    </div>  <!-- end row -->

  </div>
</footer>
